<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="{{#if lang}}{{lang}}{{else}}{{GLOBALS.lang}}{{/if}}" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="{{#if lang}}{{lang}}{{else}}{{GLOBALS.lang}}{{/if}}" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="{{#if lang}}{{lang}}{{else}}{{GLOBALS.lang}}{{/if}}" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="{{#if lang}}{{lang}}{{else}}{{GLOBALS.lang}}{{/if}}" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{#if lang}}{{lang}}{{else}}{{GLOBALS.lang}}{{/if}}" itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <!-- META (SEO) -->
  <title>{{#if meta.pageTitle}}{{meta.pageTitle}}{{else}}{{GLOBALS.meta.pageTitle}}{{/if}}</title>
  <meta name="description" content="{{#if meta.pageDescription}}{{meta.pageDescription}}{{else}}{{GLOBALS.meta.pageDescription}}{{/if}}">
  <meta name="copyright"   content="" />
  <meta name="robots"      content="all" />
  <meta name="robots"      content="default, follow" />
  <!--// META (SEO) -->

  <!-- META VIEWPORT -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!--// META VIEWPORT -->

  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

  <!--// FAVICON -->

  {{> _styles }}
{{!--
  {{> outdated-browser }}
--}}


</head>
<body{{#if bodyClass}} class="{{bodyClass}}"{{/if}}>

  {{> body }}

  {{> _scripts }}


</body>
</html>
